::-webkit-scrollbar {
    display: none;
}

::-ms-webkit-scrollbar {
    display: none;
}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
  background-color: #333;
    overflow: hidden;
}

.wrapper
{
	width: 100%;
}

.header
{
	width: 100%;
	padding: 40px 0;
}

.content
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 220px;
  color: #fff;
}

#logoonhome
{
    margin-left: 120px;
    margin-top: 10px
}

#footer
{
    width: 100%;
    padding: 20px;
    background-color: #222;
    text-align: center;
    color: #fff;
    font-family: 'Lato';
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 600;
    position: fixed;
}

.bug {
    margin-bottom: 125px;
}

.version {
    font-size: 9px;
}

.content
{
    text-align: center;
    margin-bottom: 125px;
}

@media (max-width: 1080px) {
  body {
    padding: 15px;
  }
}

/* 
=====
EFFECT FADING OUT FOR SIBLINGS MENU OPTIONS 
=====
*/

.menu:hover .menu__link:not(:hover){
  color: #222;
}

/* 
=====
MENU STYLES
=====
*/

/* core styles */

.menu__list
{
  display: flex;  
  text-align: center;
  padding-left: 1px;
  margin-top: 10px;
  margin-bottom: 0;
  list-style: none; 
  float:right;
  margin-right: 50px;
}

.menu__group
{
  flex-grow: 1;
}

.menu__link
{
  display: block;
}

.menu__link
{
  padding: 20px; /* 2rem 1.5rem */
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* hover animation */

.menu__link
{
  position: relative;
  overflow: hidden;
  will-change: opacity;
  transition: color .25s ease-out;
  &::before {
    left: 50%;
    transform: translateX(-50%); 
  };
  &::after {
    right: 50%;
    transform: translateX(50%); 
  };
  &:hover::before, 
  &:hover::after {
    width: 100%;
    transition-duration: .2s;
  };
}

.menu__group
{
  font-size: 15px;
} 

#ds
{
  text-decoration: none;
  color:aqua;
}

#h
{
  text-align: center;
  font-size: 40px;
  font-weight:bold;
}

#m
{
  font-size:25px;
  text-align:center;
}

/* Footer Fix (5.7.2020 21:37) */
#footerfix
{
  margin-right: 43px;
}

#footerversion
{
  @extend #footerfix;
}

#navbargorola
{
    background-color: #333;
}