<div class="footer">
<ul>
<li><div class="theme-switch-container">
<label class="theme-switch" for="checkbox">
<input type="checkbox" id="checkbox"/>
<div class="slider round"></div>
</label>
</div><div class="option-description">{% if page.lang == "pl" %}Jasny/Ciemny Tryb{% else %}Light/Dark Mode{% endif %}</div></li>
</ul>
{% if page.lang %}
{% if page.lang == "pl" %}
<a class="lang-switch" href='{{ site.url }}{{ site.baseurl }}{% if page.url == "/index-pl" %}/{% else %}{{ page.url | remove: "-pl" }}{% endif %}'>English version</a>
{% else %}
<a class="lang-switch" href='{{ site.url }}{{ site.baseurl }}{% if page.url == "/" %}/index-pl{% else %}{{ page.url | remove: ".html" | append: "-pl"}}{% endif %}'>Polish Version</a>
{% endif %}
{% endif %}
<p>{{ site.name }} (c) {% if page.lang == "pl" %}Wszystkie prawa zastrzeżone{% else %}All rights reserved{% endif%}</p>
<p>{% if page.lang == "pl" %}Strona zaprojektowana i wykonana przez{% else %}Site Designed and Created by{% endif %} <a href="https://igorkowalczyk.github.io/?ref=Ethericall">Igor Kowalczyk</a></p>
<small class="footerversion">{{ site.version }}</small>
</div>
