<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
{% if site.title %}<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %} {{ site.title }}{% endif %}</title>{% endif %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#fff">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %} {{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{% comment %}<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}lib/pics/thumbs/{{ page.image }}" />{% endcomment %}
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="{{ site.url }}{{ site.baseurl }}lib/css/style.css" rel="stylesheet" type="text/css">
<link href="{{ site.url }}{{ site.baseurl }}lib/img/favicon.png" rel="icon">
</head>