<nav class="nav" role="navigation">
<span class="logo"><a href="{{ site.baseurl }}">Ethericall Studio</a></span>
<input class="menu-btn" type="checkbox" id="menu-btn"/>
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<li><a href="{{ site.baseurl }}" aria-label="Back to home page">Home</a></li>
<li><a href="{{ site.baseurl }}/members" aria-label="See portfolio">Members</a></li>
<li><a href="{{ site.baseurl }}/about" aria-label="About studio">About</a></li>
<li><a href="{{ site.baseurl }}/contact" aria-label="Contact us">Contact</a></li>
{% if site.github %}<li><a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">Github</a></li>{% endif %}
</ul>
</nav>