---
layout: "default"
---
<!DOCTYPE html>
{% if page.lang == "pl" %}
<html lang="pl">
{% else %}
<html lang="en">
{% endif %}
{% include head.html %}
<body ondragstart="return false" ondrag="return false">
<div class="page">
<nav class="nav" role="navigation">
{% if page.lang == "pl" %}
<span class="logo"><a href="{{ site.url }}{{ site.baseurl }}/index-pl">Ethericall Studio</a></span>
<input class="menu-btn" type="checkbox" id="menu-btn"/>
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<li><a href="{{ site.url }}{{ site.baseurl }}/members-pl" aria-label="See portfolio">Członkowie</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}/about-pl" aria-label="About studio">O nas</a></li>
	<li><a href="{{ site.url }}{{ site.baseurl }}/projects-pl" aria-label="About studio">Projekty</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}/contact-pl" aria-label="Contact us">Kontakt</a></li>
</ul>
{% else %}
<span class="logo"><a href="{{ site.url }}{{ site.baseurl }}">Ethericall Studio</a></span>
<input class="menu-btn" type="checkbox" id="menu-btn"/>
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<li><a href="{{ site.url }}{{ site.baseurl }}/members" aria-label="See portfolio">Members</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}/about" aria-label="About studio">About</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}/projects" aria-label="About studio">Projects</a></li>
<li><a href="{{ site.url }}{{ site.baseurl }}/contact" aria-label="Contact us">Contact</a></li>
</ul>
{% endif %}
</nav>
<div class="content">
{{ content }}
</div>
{% include footer.html %}
<script src="{{ site.url }}{{ site.baseurl }}/lib/js/index.min.js"></script>
</body>
</html>
